@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 266 12% 12%;
    --foreground: 0 0% 98%;
    --card: 266 12% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 266 12% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 253 82% 64%;
    --primary-foreground: 0 0% 98%;
    --secondary: 266 12% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 266 12% 20%;
    --muted-foreground: 266 10% 70%;
    --accent: 214 87% 56%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 266 12% 25%;
    --input: 266 12% 25%;
    --ring: 253 82% 64%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-primary/30;
  }
}

.glass-panel {
  @apply bg-card/40 backdrop-blur-md border border-white/5;
}

input[type="range"] {
  @apply accent-primary;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-muted rounded-full hover:bg-muted-foreground transition-colors;
}